@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');

.slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 400px;
    background: #fffbfbfd;
    margin: 10% auto;
    
}
.slider p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
}
.slider p span{
    color: crimson;
}
.ativo{
    height: 350px;
    transition: 4s all;
    width: 30%;
}
.inativo{
    opacity: 20%;
    width: 20%;
    height: 300px;
    transition: 6s all;
}

#banner1{
    background-repeat: no-repeat;
    background-size: cover;
}